# Node
node_modules/
client/node_modules/
server/node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Environment files
.env
*.env

# Logs
*.log

# Build
dist/
build/

# OS files
.DS_Store

# Prisma
.prisma/

# Dataset (IMPORTANT)
chatbot/dataset/